html, body, div, img, a, span {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	text-decoration: none;
}
button {
	background-color: transparent;
	border: none;
	color: #FFF;
	cursor: pointer;
	font-family: Arial, sans-serif;
	font-size: 12px;
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	user-select: none;
}
button:hover, button:active {
}
button:active {
	font-size: 11px;
}
.button {
	height: 600px;
	width: 300px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
}
#banniere {
	position: relative;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	line-height: 1;
	width: 300px;
	height: 600px;
	background-color:#fff;
	overflow: hidden;	
}

#bg{
	position: absolute;
	top: 0px;
	left:0px;
}
#logo{
position: absolute;
    top: 25px;
    left: 51px;
}
#panaki{
    position: absolute;
    top: 241px;
    left: 42px;
}
#shadow_line{
    position: absolute;
    top: 380px;
    left: -150px;
}
#text1{
    position: absolute;
    top: 146px;
    left: 61px;
}

#text_final{
position: absolute;
    top: 178px;
    left: 33px;
}

#trixes1{
	position: absolute;
	top: 0px;
	left:0px;
}
#trixes2{
	position: absolute;
	top: 0px;
	left:0px;
}
#trixes3{
	position: absolute;
	top: 0px;
	left:0px;
}
#cta{
    position: absolute;
    top: 380px;
    left: 5px;
}
	